.page-member-koctas-cards {
    border-lg-top {
        border-top: none;
    }
}

.border-lg-top-none {
    border-top: none;
}

.border-lg-top-1 {
    border-top: 1px solid $color3;
}

.border-right-lg-none {
    border-right: none;
}

.border-right-lg-1 {
    border-right: 1px solid $color3;
}