- var developer_mode = false
- var lang = "tr-TR"
- var siteColor = "#EC6E00"
- var currency = "TL"
- var favicon = "images/frontend/favicon-32x32.png"
- var favicon_android = "images/frontend/chrome-touch-icon-192x192-new.png"
- var favicon_ios = "images/frontend/apple-touch-icon-new.png"
- var pageTitle = "Facelift: Koçtaş | Evimi Çok Seviyorum"
- var pageDesc = "Kaliteli ve uygun fiyatlı Mutfak, Banyo, Bahçe Mobilyaları, Beyaz Eşya ve El aletleri ürünlerine online alışverişin adresi Koçtaş Yapı Marketi ile ulaşın!"
- var pageClass = ""