extends abstracts/layout.pug

block prepend head
    - var pageTitle = "Anasayfa | Proje"
    - var pageDesc = "Anasayfa Açıklama"
    - var pageClass = "page-home"

block content
    .container
        |HOMEPAGE